{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, obcaecati? Voluptatibus incidunt consequatur, distinctio deserunt optio reiciendis maiores ipsa quis laborum officiis quam fugit pariatur dolore consequuntur adipisci unde porro facere nulla modi repudiandae esse magnam nihil? Itaque illo voluptatum assumenda unde optio? Dolor, asperiores!</p>
    <img src={% static "IMAGE/food_20.png" %} alt="">
</body>
</html>